@inherits LayoutComponentBase

<div class="page">
    <aside class="sidebar">
        <div class="app-title">EndpointTracker</div>
        <NavMenu />
    </aside>

    <main>
        <header class="top-bar">
            <span class="title">Dashboard</span>
        </header>
        <section class="content">
            @Body
        </section>
    </main>
</div>
